<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc file="tocCreateBUGProject.xml"/>
	  <toc file="tocAnatomyOfBUGApplication.xml"/>
	  <toc file="tocCallWebServicesApp.xml"/>
	  <toc file="tocDebugAnApp.xml"/>
	  <toc file="tocInteractingWithBUGnetView.xml"/>
	  <toc file="tocInteractingWithMyBUGsView.xml"/>
	  <toc file="tocUploadApplication.xml"/>
	  <toc file="tocSendAppToBUG.xml"/>
	  <toc file="tocUsingVirtualBug.xml"/>
	  <toc file="tocLaunchConfiguration.xml"/>	  
   </extension>

</plugin>
