<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.core.targets">
      <target
            definition="bundles/simulator.target"
            id="com.buglabs.dragonfly.simulator.target"
            name="BUG Simulator Target">
      </target>
   </extension>
</plugin>
